Afiniti.GRM.SecurityService/Service References/EmailService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IEmailService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailService_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SayHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:SayHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendEmailWithDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailWithDetails" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendEmailWithDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailWithDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendEmailOneWay_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailOneWay" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendEmailWithDetailsOneWay_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailWithDetailsOneWay" />
  </wsdl:message>
  <wsdl:portType name="IEmailService">
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SayHello" message="tns:IEmailService_SayHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SayHelloResponse" message="tns:IEmailService_SayHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendEmail" message="tns:IEmailService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendEmailResponse" message="tns:IEmailService_SendEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailWithDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendEmailWithDetails" message="tns:IEmailService_SendEmailWithDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendEmailWithDetailsResponse" message="tns:IEmailService_SendEmailWithDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailOneWay">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendEmailOneWay" message="tns:IEmailService_SendEmailOneWay_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmailWithDetailsOneWay">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendEmailWithDetailsOneWay" message="tns:IEmailService_SendEmailWithDetailsOneWay_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IEmailService" type="tns:IEmailService">
    <wsp:PolicyReference URI="#NetTcpBinding_IEmailService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SayHello">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SayHello" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SendEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailWithDetails">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SendEmailWithDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailOneWay">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SendEmailOneWay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendEmailWithDetailsOneWay">
      <soap12:operation soapAction="http://tempuri.org/IEmailService/SendEmailWithDetailsOneWay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailService">
    <wsdl:port name="NetTcpBinding_IEmailService" binding="tns:NetTcpBinding_IEmailService">
      <soap12:address location="net.tcp://aficrmvm01.satmapinc.com:8050/WindowEmailWCFService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://aficrmvm01.satmapinc.com:8050/WindowEmailWCFService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>